<h3>More information about {{ location.name }}, {{ location.city }}</h3>
<hr>

<p>Name: {{ location.name }}</p>
<p>Street: {{ location.street }}</p>
<p>House number: {{ location.houseNumber }}</p>
<p>City: {{ location.city }}</p>
<p>Zip code: {{ location.zipCode }}</p>
<p>Country: {{ location.zipCode }}</p>
<p>Owner: {{ location.owner }}</p>
<p>Installation date: {{ location.installationDate }}</p>
<p>Installer: {{ location.installer }}</p>
<p>Contact person: {{ location.contactPerson }}</p>
<hr>
<h3>All converters on {{ location.name }} </h3>
<div *ngFor="let conv of location.converters">
  <p>Serial number: {{ conv.serialNumber }}</p>
  <p>Device name: {{ conv.deviceName }}</p>
  <p>Online: {{ conv.online }}</p>
  <p>Device model: {{ conv.deviceModel }}</p>
  <p>Display software version: {{ conv.displaySoftwareVersion }}</p>
  <p>Master control software version: {{ conv.masterControlSoftwareVersion }}</p>
  <p>Slave control version: {{ conv.slaveControlVersion }}</p>
  <hr>
  <h4>{{conv.deviceName}}'s latest energy values:</h4>
  <ul *ngFor="let value of conv.energyValue">
    <li>Timestamp: {{ value.timestamp }}</li>
    <ul *ngFor="let inf of value.info">
      <li>Energy converted: {{ inf.energyValue }}</li>
      <li>Alert info: {{ inf.alertInfo }}</li>
      <hr>
    </ul>
  </ul>
  <hr>
</div>

<button class="btn btn-danger" (click)="onDeleteLocation()">Delete</button>
<button class="btn btn-primary" (click)="onEditLocation()">Edit</button>
