<h3>More information about {{ location.name }}, {{ location.city }}</h3>
<hr>

<p>Name: {{ location.name }}</p>
<p>Street: {{ location.street }}</p>
<p>House number: {{ location.houseNumber }}</p>
<p>City: {{ location.city }}</p>
<p>Zip code: {{ location.zipCode }}</p>
<p>Country: {{ location.zipCode }}</p>
<p>Owner: {{ location.owner }}</p>
<p>Installation date: {{ location.installationDate }}</p>
<p>Installer: {{ location.installer }}</p>
<p>Contact person: {{ location.contactPerson }}</p>
<hr>
<h3>All converters on this location: </h3>
<div *ngFor="let conv of location.converters">
  <p>Serial number: {{ conv.serialNumber }}</p>
  <p>Device name: {{ conv.deviceName }}</p>
  <p>Online: {{ conv.online }}</p>
  <p>Device model: {{ conv.deviceModel }}</p>
  <p>Display software version: {{ conv.displaySoftwareVersion }}</p>
  <p>Master control software version: {{ conv.masterControlSoftwareVersion }}</p>
  <p>Slave control version: {{ conv.slaveControlVersion }}</p>

  <h3>Energy values in this converter</h3>

  <div *ngFor="let value of conv.energyValue">
    <p>Timestamp: {{ value.timestamp }}</p>
    <h3>Information on this energy Value</h3>
    <div *ngFor="let info of value.info">
      <p>Energy converted: {{ info.energyValue }}</p>
      <p>Alert info: {{ info.alertInfo }}</p>
      <hr>
    </div>
  </div>
  <hr>
</div>

<button class="btn btn-danger" (click)="onDeleteLocation()">Delete</button>
<button class="btn btn-primary" (click)="onEditLocation()">Edit</button>
